%nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %ul.nav.navbar-nav
        %li
          = link_to root_path do
            %span.glyphicon.glyphicon-briefcase
            Jobs Tracker
        %li= link_to "Companies", companies_path
        %li= link_to "Categories", categories_path
